.color {
    color: cornflowerblue;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.para {
    text-align-last: right;
}

.direction {
    direction: rtl;

}

.indent {
    text-indent: 2cm;
}

.inches {
    text-indent: 2in;
}

.percentage {
    text-indent: 30%;
}

.space {
    letter-spacing: normal;
}

.back {
    letter-spacing: 15px;
}

.normal {
    word-spacing: normal;
}

.increas {
    word-spacing: 30pt;
}

.white {
    white-space: nowrap;
}

.space {
    white-space: pre;
}

.height {
    line-height: 2.0;
}

.cass {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.effect {
    text-shadow: 2px 2px rgb(252, 36, 36);
}

.Line {
    text-decoration-line: overline;
    text-decoration-color: aqua;
}

.dot {
    text-decoration-line: line-through;
    text-decoration-style: double;

}

.circle {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
}

.border {
    border-style: solid;
    border-color: blue;
    border-radius: 15px;
    padding-left: 15px;
    margin-left: 30px;
    background-color: antiquewhite;
}

.double {
    border-top: aqua;
    border-top-style: dotted;
    border-top-width: 10px;
    border-right: red;
    border-left-style: dashed;
    border-right-style: double;
    border-bottom-style: groove;
    border-bottom-width: 20px;
    padding: 15px;
    margin: 20px;
}
strong{background-color: cadetblue;
    border-style: groove;
    border-color: rgba(0, 0, 255, 0.819);
    text-decoration: line-through;
    
    

}