.main_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.box {
    /* width: 200px; */
    padding: 199px;
    border: 1px solid red;
    border: none;
}

.box1 {
    grid-row: span 2;
    background-image: url(./images/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box2 {
    grid-column: span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/2.webp);
}

.box3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/3.webp);

}

.box4 {
    background-image: url(./images/4.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

.box5 {
    background-image: url(./images/5.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box6 {
    background-image: url(./images/6.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box7 {
    background-image: url(./images/7.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box8 {
    background-image: url(./images/8.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box9 {
    grid-column: span 2;
    background-image: url(./images/9.webp);
    background-repeat: no-repeat;
    background-size: cover;
}