.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: auto;
    gap: 20px;

}

@media(max-width:1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:690px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.data {
    /* height: 360px; */
    width: 230px;
    border: 2px solid black;
    text-align: center;
    padding: 20PX;
}

.insta {
    background-color: rgb(222, 77, 106);
    color: white;
}


.btn {
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    /* height: 35px; */
    width: 189px;
    padding: 10px;
}

.bt {
    border-radius: 20px;
    background-color: white;
    color: rgb(176, 26, 134);
    border: none;
    /* height: 35px; */
    width: 189px;
    padding: 10px;

}

strong {
    font-size: 28px;
}