.box {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    animation: animation 6s linear infinite reverse;
    position: relative;

}

@keyframes animation {
    0% {
        border-radius: 20%;
        left: 10px;
    }

    25% {
        border-radius: 50%;
        left: 250px;
        background-color: blue;

    }

    100% {
        border-radius: 75%;
        left: 600px;
        background-color: rgb(190, 15, 123);
    }
}

.btn {}