.mainbox {
    height: 500px;
    width: 500px;
    border: 1px solid red;

}

.box {
    height: 150px;
    width: 150px;
    border: 1px solid;


}

.box1 {
    background-color: aqua;


}

.box2 {
    background-color: rgb(143, 65, 212);

}

.box3 {
    background-color: rgb(202, 94, 16);
    position: absolute;
    right: 0;
}

.mainbox2 {
    height: 500px;
    width: 500px;
    border: 1px solid red;
    position: relative;

}

ul {
    display: flex;
    column-gap: 50px;
    background-color: aquamarine;



}

nav {
    position: sticky;
    top: 0;

}

.btn {
   
    padding: 8px;

}